{
  "semi": false,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 120,
  "overrides": [
    {
      "files": [
        "**/*.ts"
      ],
      "options": {
        "trailingComma": "all",
        "printWidth": 120,
        "singleQuote": true
      }
    },
    {
      "files": [
        "**/*.json"
      ],
      "options": {
        "printWidth": 120,
        "singleQuote": true,
        "trailingComma": "none"
      }
    }
  ]
}